<!DOCTYPE html>
<html>
  <head>
    <title>Schwack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/edfc2e67bf.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('favicon.svg') %>

    <meta property="og:title" content="Schwack" />
     <meta property='og:image' content="<%= image_url('project_pic.png') %>"/>
     <meta property="og:description"
       content="Schwack is a clone of the popular business communications platform, Slack."
     />
     <meta property="og:url"
       content="https://schwack.herokuapp.com/#/"
     />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
